@{
    ViewData["Title"] = "Plane Page";
    @model NYCFlights2013.Models.Planes
    var planesNumM = (List<Planes>)ViewData["planesNumM"];
    var numberOfManu = (List<Planes>)ViewData["numberOfM"];
    var numberOfF = (List<Planes>)ViewData["numberOfF1"];
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Planes</h1>

        <section>
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/echarts/echarts.js"></script>
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div id="myechart1" style="width: 100%; height: 500px;">

                        </div>
                    </div>
                </div>
            </section>
            @{
                List<string> listx = new List<string>();
                List<string> listy = new List<string>();
                List<string> listz = new List<string>();
                List<string> listf = new List<string>();
                foreach (var item in numberOfManu)
                {
                    listx.Add(item.manufacturer);
                }
                foreach (var item in numberOfManu)
                {
                    listy.Add(item.numberOfM);
                }
                foreach (var item in numberOfF)
                {
                    listz.Add(item.numberOfF);
                }
                foreach (var item in numberOfF)
                {
                    listf.Add(item.manufacturer);
                }
            }
            <script type="text/javascript">

            var myEChart1 = echarts.init(document.getElementById('myechart1'));
            var option = {
                title: {
                    text: 'Planes '
                },
                color: ["#3398DB"],
                tooltip: {
                    trigger: "axis",
                    axisPointer: {
                        type: "shadow"
                    }
                }
                ,
                xAxis: [{
                    name: 'Manufactures',
                    type: "category",
                    data: ["@listx[0]", "@listx[1]", "@listx[2]", "@listx[3]", "@listx[4]"]
                }],
                yAxis: [{
                    name: 'Number of Models',
                    type: 'value'
                }],
                series: [{
                    name: 'numbers',
                    barWidth: "40%",
                    type: 'bar',
                    data: [@listy[0], @listy[1], @listy[2], @listy[3], @listy[4]]
                }]
            };
            myEChart1.setOption(option);</script>
        </section>
    </div>
    <center>

        <div class="table">
            <table class="table-bordered table-responsive">
                <tr class="table-active">

                    <td>Manufacture</td>
                    <td>Number of Models</td>
                </tr>
                @{ foreach (var num in numberOfManu)
                    {
                        <tr>
                            <td class="table-info">
                                @num.manufacturer
                            </td>


                            <td>
                                @num.numberOfM
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
        <hr style="height:4px;border-top:4px solid black" />
    </center>
    <center>
        <div id="myechart" style="width: 100%; height: 500px;">
        </div>
        <div class="table">
            <table class="table-bordered table-responsive">
                <tr class="table-active">
                    <td>Manufacture</td>
                    <td>Number of Flights</td>
                </tr>
                @{ foreach (var item in numberOfF)
                    {
                        <tr>
                            <td class="table-info">
                                @item.manufacturer
                            </td>
                            <td>
                                @item.numberOfF
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
        <section>
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/echarts/echarts.js"></script>
            <script type="text/javascript">
            var myEChart = echarts.init(document.getElementById('myechart'));
            var option = {
                title: {
                    text: 'Planes and fligths number for biggest manufactures '
                },
                color: ["#F26243"],
                tooltip: {
                    trigger: "axis",
                    axisPointer: {
                        type: "shadow"
                    }
                }
                ,
                xAxis: [{
                    name: 'Manufacture',
                    type: "category",
                    data: ["@listf[0]", '@listf[1]', '@listf[2]', '@listf[3]']
                }],
                yAxis: [{
                    name: 'Number of flights',
                    type: 'value'
                }],
                series: [{
                    name: 'numbers',
                    barWidth: "40%",
                    type: 'bar',
                    data: [@listz[0], @listz[1], @listz[2], @listz[3]]
                }]
            };
            myEChart.setOption(option);</script>
        </section>
    </center>
    <hr style="height:4px;border-top:4px solid black" />
    <div class="table">
        <h1>The number of planes in each Airbus Model:</h1>
        <table class="table-bordered table-responsive">
            <tr class="table-active">
                <td>model</td>
                <td>number of planes</td>
            </tr>
            @{ foreach (var num in planesNumM)
                {
                    <tr>
                        <td class="table-info">
                            @num.manufacturer
                        </td>
                        <td>
                            @num.numberOfPlanes
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</body>
</html>